%header.cafe.big-padding
	.col-md-10.no-float.center-block
		.col-md-6.no-padding.inline-block
			=image_tag "iCheve.png",width:"100"
			%h1.white-text.normal.kostic
				%strong
					Compra tu cheve en linea hasta la puerta de tu casa
		.col-md-5.inline-block
			=image_tag "beer2.png",width:"80"
.yellow.white-text.big-padding.kostic
	.col-md-10.no-float.center-block
		.absolute{style:"bottom:-4.5em;width:100%;left:0px;"}
			.text-center.big
				.col-md-3.inline-block
					.white.grey-text.circle
						%strong 1
				.col-md-3.inline-block
					.white.grey-text.circle
						%strong 2
				.col-md-3.inline-block
					.white.grey-text.circle
						%strong 3
		%h2.bigger.kostic.text-center.cafe-text
			%strong Cheve en 3 pasos
		%div.text-center.top-space
			.col-md-3.inline-block.text-left
				.top-space
					%strong.big.cafe-text
						Selecciona tu Bebida
					%p.white-text.medium.kostic
						Tenemos desde Cheve hasta bebidas preparadas.* 
			.col-md-3.inline-block.text-left
				.top-space
					%strong.big.cafe-text
						Paga
					%p.white-text.medium.kostic
						No busques morralla o un cajero paga con tu tarjeta. 
			.col-md-3.inline-block.text-left
				.top-space
					%strong.big.cafe-text
						Recibe tu Cheve
					%p.white-text.medium.kostic
						Así de fácil tu Cheve o Bebida hasta la puerta de tu casa.
.yellow.white-text.big-padding.kostic{style:"margin-top:25.3em;"}
	%p.medium.col-md-11.center-block.no-float.top-space
		%strong
			=link_to "Inicia Sesion", new_user_session_path
		%p.medium.col-md-11.center-block.no-float.top-space
			%strong		 
				=link_to "Crear Cuenta", new_user_registration_path